* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
}
.section1 {
  background: url("img/hero.jpg");
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.top-nav {
  height: 80px;
  width: 100%;
}
.top-nav ul {
  float: right;
  margin-right: 100px;
}
.top-nav ul li {
  display: inline-block;
  margin: 0px 15px;
}
.top-nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  line-height: 80px;
  padding-bottom: 5px;
}
.top-nav .logo,
.top-nav .logo img {
  vertical-align: middle;
  margin-left: 50px;
  line-height: 80px;
}
.top-nav ul li a:hover,
.active {
  border-bottom: 2px solid black;
}

.h-div {
  width: 100%;
  height: 100%;
  display: flex;
}
.h-div1 {
  width: 50%;
  height: 100%;
  padding: 100px 0px 0px 100px;
}
.h-div2 {
  width: 50%;
  height: 100%;
}
.h-div1 h1 {
  font-size: 52px;
  margin-bottom: 15px;
}
.h-div1 h2 {
  font-weight: 200;
  font-size: 25px;
  color: #636261;
  margin-bottom: 20px;
}
.h-div1 .btn1 {
  padding: 15px 35px;
  background-color: #302f2e;
  color: white;
  font-weight: 600;
  border: none;
}
.h-div1 .btn2 {
  padding: 15px 35px;
  color: #302f2e;
  font-weight: 600;
  background-color: rgba(255, 254, 252, 0.3);
}
.h-div2 img {
  width: 500px;
  position: relative;
  bottom: 24px;
  left: 20px;
}

/* -------------------------about section ------------------*/

.about .a-m {
  height: auto;
  width: 100%;
  text-align: center;
}
.about .a-m .a1 {
  height: 50%;
  width: 100%;
  padding: 5% 25%;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 60px;
}
.about .a-m .a2 {
  height: 50%;
  width: 100%;
  padding: 60px 0px;
  text-align: center;
}
.ap {
  text-align: justify;
}
.a2 h1,
.a1 h1 {
  font-size: 36px;
  font-weight: 500;
  color: #302f2e;
}
.a1 button {
  padding: 15px 30px;
  background-color: #302f2e;
  font-weight: bold;
  color: white;
  font-size: 16px;
  border: none;
}
.smd {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.smd .skill {
  width: 25%;
  height: 120px;
  display: inline-block;
  margin: 5px 20px;
}
.smd .skill p {
  font-size: 22px;
  text-align: left;
}
.smd .skill .per {
  height: 15px;
  border-radius: 5px;
  margin: 10px 0px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}
.smd .skill .per div {
  background-color: rgba(247, 77, 16, 0.89);
  height: 100%;
  width: 100%;
  padding-right: 10px;
  border-radius: 5px;
}
.smd .skill .per div p {
  font-size: 14px;
  text-align: right;
}
.smd .d1 .per div {
  width: 100%;
}
.smd .d2 .per div {
  width: 80%;
}
.smd .d3 .per div {
  width: 85%;
}
.smd .d4 .per div {
  width: 75%;
}
.smd .d5 .per div {
  width: 70%;
}
.smd .d6 .per div {
  width: 60%;
}

/*-------------------------SERVICE SECTION---------------*/

.service,
.sm {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}

.service .sm1 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.555),
      rgba(255, 255, 255, 0.555)
    ),
    url(img/services-bg.jpg);

  width: 100%;
  height: 350px;
}
.service .sm2 {
  width: 100%;
  height: 450px;
}
.service .sm3 {
  position: absolute;
  top: 20%;
  left: 7%;
  right: 7%;
  height: 550px;
  width: 86%;
  z-index: auto;
  text-align: center;
  box-shadow: 0 0 10px #777777;
  background-color: white;
  padding: 100px;
}
.service .sm3 p {
  font-size: 32px;
}
.sm3m {
  width: 100%;
  height: auto;
  padding-top: 60px;
}
.sm3m .sm3c {
  width: 25%;
  padding: 0px;
  margin: 20px 20px;
  display: inline-block;
}
.sm3m .sm3c p {
  margin-top: 20px;
  font-size: 16px;
}

/* --------------------PORTFOLIO SECTION ---------------*/

.portfolio {
  width: 100%;
  text-align: center;
}
.p1 h1 {
  font-size: 32px;
  font-weight: 500;
}
.pm {
  width: 100%;
  text-align: center;
  padding: 80px 0px;
}
.pmc {
  width: 27%;
  text-align: left;
  height: 260px;
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin: 10px;
  transition: 0.4s all 0s ease;
  overflow: hidden;
}
.pmc .ph h1 {
  padding: 50% 0 10% 10%;
  color: white;
}
.ph {
  height: 100%;
  width: 100%;
  transition: 0.4s all 0s ease;
  transform: translateX(-100%);
}
.pm1 {
  background: url(img/Portfolio-1.jpg);
  background-size: cover;
  background-position: center;
}
.pm2 {
  background: url(img/Portfolio-2.jpg);
  background-size: cover;
  background-position: center;
}
.pm3 {
  background: url(img/Portfolio-3.jpg);
  background-size: cover;
  background-position: center;
}
.pm4 {
  background: url(img/Portfolio-4.jpg);
  background-size: cover;
  background-position: center;
}
.pm5 {
  background: url(img/Portfolio-5.jpg);
  background-size: cover;
  background-position: center;
}
.pm6 {
  background: url(img/Portfolio-6.jpg);
  background-size: cover;
  background-position: center;
}

.pmc:hover .ph {
  transform: translateX(0%);
}
.pmc:hover {
  box-shadow: inset 0 0 800px 50px black;
}
