* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
}
#home {
  background: url("img/b.jpg");
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  top: -80px;
  padding: 80px 0px;
}

/* Nav Bar Start   */

.top-nav {
  height: 70px;
  width: 100%;
  background-color: rgba(236, 233, 233, 0.253);
  position: sticky;
  top: 0px;
  z-index: 100;
}
.top-nav ul {
  float: right;
  margin-right: 3%;
}
.top-nav ul li {
  display: inline-block;
  margin: 0px 15px;
}
.top-nav ul li a {
  text-decoration: none;
  color: rgb(46, 45, 45);
  font-size: 16px;
  line-height: 70px;
  padding-bottom: 5px;
}
.top-nav .logo,
.top-nav .logo img {
  vertical-align: middle;
  margin-left: 3%;
  line-height: 70px;
}
/* .top-nav ul li a:hover, */
.top-nav ul li a:hover,
.active {
  border-bottom: 2px solid rgb(46, 45, 45);
}

/* responsive style  start  */

@media (max-width: 750px) {
}

/* responsive style  end  */

/* Nav bar End  */

/* #about:hover > .about-nav a {
  border-bottom: 2px solid rgb(46, 45, 45);
} */

.h-div {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 5% 0%;
}

/* responsive style   */

@media (max-width: 1050px) {
  .h-div .h-div1 .h-info h1 {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .h-div .h-div1 .h-info {
    height: 270px;
    width: 350px;
    padding: 30px 0 0 35px;
  }
  .h-div .h-div1 .h-info .btn1 {
    padding: 15px 25px;
    margin-top: 5px;
  }

  .h-div .h-div1 .h-info h2 {
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .h-div .h-div2 .h-pic img {
    width: 270px;
    margin-bottom: -3px;
  }
  .h-div .h-div2 .h-pic {
    background-color: #4b4846bd;
    padding: 0px 50px 0px 0px;
    border-radius: 40% 30% 20% 20%;
    width: 320px;
    margin: auto;
  }
}

@media (max-width: 750px) {
  .h-div {
    display: block;
  }
  .h-div .h-div1,
  .h-div .h-div2 {
    width: 100%;
  }
  .h-div .h-div1 .h-info h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .h-div .h-div1 .h-info {
    height: 200px;
    width: 250px;
    padding: 35px 0 0 15px;
    margin-bottom: 20px;
  }
  .h-div .h-div1 .h-info .btn1,
  .h-div .h-div1 .h-info .btn2 {
    padding: 8px 15px;
  }

  .h-div .h-div1 .h-info h2 {
    font-weight: 200;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .h-div .h-div2 .h-pic .p2 {
    display: block;
    width: 200px;
    margin: 0 0 -3px 15%;
  }
  .h-div .h-div2 .h-pic .p1 {
    display: none;
  }
  .h-div .h-div2 .h-pic {
    background-color: #4b4846bd;
    overflow: hidden;
    border-radius: 40% 30% 20% 20%;
    width: 250px;
    margin: auto;
  }
}

/* responsive style 750 end   */

.h-div1 {
  width: 50%;
  height: 100%;
  display: grid;
}
.h-info {
  background-color: #eb6010;
  border-radius: 30% 30% 50% 50%;
  height: 400px;
  width: 500px;
  padding: 80px 0 0 35px;
  margin: auto;
  box-shadow: 0 0 15px rgba(51, 49, 49, 0.89);
}
.h-div2 {
  width: 50%;
  height: 100%;
  display: grid;
}
.h-info h1 {
  font-size: 52px;
  margin-bottom: 15px;
  color: white;
}

.h-info h2 {
  font-weight: 200;
  font-size: 25px;
  color: #636261;
  margin-bottom: 20px;
}
.h-info .btn1 {
  padding: 15px 35px;
  background-color: #302f2e;
  color: white;
  font-weight: 600;
  border: none;
}

.h-info .btn2 {
  padding: 15px 35px;
  color: #302f2e;
  font-weight: 600;
  border: none;
  background-color: rgba(233, 229, 15, 0.89);
}

.h-div2 .h-pic {
  background-color: #4b4846bd;
  padding: 0px 50px 0px 0px;
  border-radius: 40% 30% 20% 20%;
  width: 450px;
  margin: auto;
}
.h-div2 .h-pic img {
  width: 400px;
  margin-bottom: -3px;
}
.h-div2 .h-pic .p2 {
  display: none;
}

/* -------------------------about section ------------------*/

#about {
  padding: 0;
}

#about .a-m {
  height: auto;
  width: 100%;
}
#about .a-m .a1 {
  height: 50%;
  width: 100%;
  padding: 0% 15%;
  position: relative;
  text-align: center;
  padding-bottom: 150px;
}
#about .a-m .a2 {
  height: 50%;
  width: 100%;
  padding: 60px 0px;
  text-align: center;
}
.ap {
  text-align: justify;
}
.a2 h1,
.a1 h1 {
  font-size: 36px;
  font-weight: 500;
  color: #302f2e;
  text-align: center;
}
.a1 img {
  margin-bottom: 30px;
}

.a1 button {
  padding: 15px 30px;
  background-color: #302f2e;
  font-weight: bold;
  color: white;
  font-size: 16px;
  position: absolute;
  left: 15%;
  margin-top: 50px;
  border: none;
}
.smd {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.smd .skill {
  width: 25%;
  height: 120px;
  display: inline-block;
  margin: 5px 20px;
}
.smd .skill p {
  font-size: 22px;
  text-align: left;
}
.smd .skill .per {
  height: 20px;
  border-radius: 5px;
  margin: 10px 0px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}
.smd .skill .per div {
  background-color: rgba(247, 77, 16, 0.89);
  height: 100%;
  width: 100%;
  padding-right: 10px;
  border-radius: 5px;
}
.smd .skill .per div p {
  font-size: 14px;
  text-align: right;
}
.smd .d1 .per div {
  width: 100%;
}
.smd .d2 .per div {
  width: 80%;
}
.smd .d3 .per div {
  width: 85%;
}
.smd .d4 .per div {
  width: 75%;
}
.smd .d5 .per div {
  width: 70%;
}
.smd .d6 .per div {
  width: 60%;
}

/*-------------------------SERVICE SECTION---------------*/

#service,
.sm {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}

#service .sm1 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.555),
      rgba(255, 255, 255, 0.555)
    ),
    url(img/services-bg.jpg);

  width: 100%;
  height: 350px;
}
#service .sm2 {
  width: 100%;
  height: 450px;
}
#service .sm3 {
  position: absolute;
  top: 20%;
  left: 7%;
  right: 7%;
  height: 550px;
  width: 86%;
  z-index: auto;
  text-align: center;
  box-shadow: 0 0 10px #777777;
  background-color: white;
  padding: 100px;
}
.sm3 p {
  font-size: 32px;
}
.sm3m {
  width: 100%;
  height: auto;
  padding-top: 60px;
}
.sm3m .sm3c {
  width: 25%;
  padding: 0px;
  margin: 20px 20px;
  display: inline-block;
}
.sm3c p {
  margin-top: 20px;
  font-size: 16px;
}

/* --------------------PORTFOLIO SECTION ---------------*/

#portfolio {
  width: 100%;
  text-align: center;
}
.p1 h1 {
  font-size: 32px;
  font-weight: 500;
}
.pm {
  width: 100%;
  text-align: center;
  padding: 80px 0px;
}
.pmc {
  width: 27%;
  text-align: left;
  height: 260px;
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin: 10px;
  transition: 0.4s all 0s ease;
  overflow: hidden;
}
.pmc .ph h1 {
  padding: 50% 0 10% 10%;
  color: white;
}
.ph {
  height: 100%;
  width: 100%;
  transition: 0.4s all 0s ease;
  transform: translateX(-100%);
}
.pm1 {
  background: url(img/Portfolio-1.jpg);
  background-size: cover;
  background-position: center;
}
.pm2 {
  background: url(img/Portfolio-2.jpg);
  background-size: cover;
  background-position: center;
}
.pm3 {
  background: url(img/Portfolio-3.jpg);
  background-size: cover;
  background-position: center;
}
.pm4 {
  background: url(img/Portfolio-4.jpg);
  background-size: cover;
  background-position: center;
}
.pm5 {
  background: url(img/Portfolio-5.jpg);
  background-size: cover;
  background-position: center;
}
.pm6 {
  background: url(img/Portfolio-6.jpg);
  background-size: cover;
  background-position: center;
}

.pmc:hover .ph {
  transform: translateX(0%);
}
.pmc:hover {
  box-shadow: inset 0 0 800px 50px black;
}
